.header { 
	padding:0 0;
	background:forestgreen;
	margin:0 auto; 
	height: 100px;
	width: 100%;
	z-index: 1000; 
	border-bottom: 1px #000 solid;
	box-shadow:#bbb 2px 5px 2px
}

/* Padding */
.pad30 { padding-top:40px; }

/**** LINKS ****/
a, a:active, a:focus {
	color:#000000;
	text-decoration:none;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	outline:none;
}
a:hover, h2.intro a:hover {color: #c9ffc6; text-decoration: none; }

/**** LOGO ****/
.logo a{
 	float:left; 
	margin:10px 0 0px 0;
	padding-bottom: 10px;
	webkit-transition:all 0.3s ease-in;  
    -moz-transition:all 0.3s ease-in;  
    -o-transition:all 0.3s ease-in;  
    transition:all 0.3s ease-in;
}

/* Index Boxes */
.tile {
	background:  #BC6827;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	padding: 30px;
	text-align: center;
	margin-bottom:25px;
	box-shadow:0 0 18px #222;
}

/*************************************************************
Drop Down Menu
**************************************************************/

.tiledd {
	background-color:  #BC6827;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	padding: 14px;
	width: 270px;
	position: absolute;
	text-align: center;
	margin-bottom:25px;
}
.tile-image {
  height: 150px;
  margin: 20px 0 15px;
  vertical-align: bottom;
}
.tile-title {  color:#000000;font-size: 30px; margin: 0; font-weight:400; }

/* Meta */
.post-meta ul {
	margin:-5px 0 15px 0;
	padding: 0 0;
	list-style:none;
	text-transform:uppercase;
	font-size:11px; clear:both;
}
.post-meta li { margin:0; display:inline; }
.post-meta a{ color: #555; }
.post-meta a:hover { color:#747474; }



/*-----------------------------------------------------------------------------------*/
/*	05.a:Dropdown
/*-----------------------------------------------------------------------------------*/


#top
{
	padding-top: 10px;
	margin-bottom: 10px;
	margin: auto;
	width: 100%;
	height: 400px;
	font-size: 30px;
}

li.isimenu
{
	color: #0a5014;
	padding-top: 10px;
	text-align: left;
	font-size: 20px;
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

.coba
{
	height:40px;
	width: 100%;
	-moz-transition: all 0.6s ease 0.7s;
	margin:0px;
	overflow: hidden;
	font-size: 20px;
	color: #ffffff;
}

div.coba:hover
{
	height: 280px;
}

.app {
	text-align: center;
  background: #96d6df;
  height: 800px;
}



/*-----------------------------------------------------------------------------------*/
/*	06:FOOTER
/*-----------------------------------------------------------------------------------*/
#footer {
	position:static;
	text-align:center;
	background:forestgreen;
	color:#000000;
	margin:px 0px 30px; 
	margin-top:10px;
	font-size:13px;
	font-weight:400;
		border-bottom: 1px #000 solid;
	box-shadow:#bbb 2px 5px 2px
}

.copyright a {color:#FFFFFF; }
.copyright a:hover {color:#0B0B0B; }




/*-----------------------------------------------------------------------------------*/
/*	10: BUTTONS
/*-----------------------------------------------------------------------------------*/
.btn:hover {  background: #005580; }
.btn-primary { background: #2980B9!important; }
.btn-primary:hover { background: #69B9ED!important; }
.btn-custom{ background-color:#67C730!important;; font-size:14px!important; padding:12px 15px 14px; margin-top:10px; font-weight:300!important; }
.btn-custom:hover{ background-color:#0c4609!important; color:#fff;}
.btn:visited, .btn:focus { color:#fff; }
.label, .badge {text-shadow: none; }


/* Giving The Look Of Button */
.button1 {
border: 0;
border-radius: 0;
outline: 0;
font-size: 18px;
background: rgb(174, 186, 3);
box-shadow:  0px 0px 1px #7A7C77,0px 1px 1px #989D8D,2px 1px 1px #999990,1px 2px 1px #818484,3px 2px 1px #6C6B71,2px 3px 1px #FFFFFF,4px 3px 1px #76797B,3px 4px 1px #FFFFFF,5px 4px 1px #76796D,4px 5px 1px #FFFFFF,6px 5px 1px #898E84;
color: white;
white-space: nowrap;
padding: 9px 16px;
margin: 0 10px;
position: relative;
}

.button1:active {
  box-shadow: 1px 0px 1px #003F63,0px 1px 1px rgb(0, 146, 192),2px 1px 1px #003F63,1px 2px 1px rgb(0, 146, 192),3px 2px 1px #003F63;
  @include transform(translate(3px, 3px));
   top:0px;
   right:-3px;
   bottom:-3px
}


.btn{
	border-radius: 6px;
	border: 0 none;
	background: none;
	cursor: pointer;
	color:#fff;
	display: inline-block;
	margin: 5px 0px;
	box-shadow:none;
	text-shadow:none;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn.btn-info { background-color: #3498db; }
.btn.btn-info:hover, .btn.btn-info:focus{ background-color: #5dade2; }
.btn.btn-info:active { background-color: #2c81ba; }
.btn.btn-danger { background-color: #e74c3c; }
.btn.btn-danger:hover, .btn.btn-danger:focus{ background-color: #ec7063; }
.btn.btn-danger:active { background-color: #c44133; }
.btn.btn-success { background-color: #2ecc71; }
.btn.btn-success:hover, .btn.btn-success:focus { background-color: #58d68d; }
.btn.btn-success:active, .btn.btn-success.active { background-color: #27ad60; }
.btn.btn-warning { background-color: #f1c40f; }
.btn.btn-warning:hover, .btn.btn-warning:focus { background-color: #f5d313; }
.btn.btn-warning:active, .btn.btn-warning.active { background-color: #cda70d; }
.btn.btn-inverse { background-color: #34495e; }
.btn.btn-inverse:hover, .btn.btn-inverse:focus { background-color: #104C73; }
.btn.btn-inverse.active { background-color: #104C73; }
.btn-large { padding: 11px 19px; font-size: 17.5px!important; }
.btn-medium { padding: 8px 12px!important; font-size: 15.5px!important; }
.btn-small { padding: 2px 10px!important; font-size: 15px!important; }
.btn-mini { padding: 0 6px!important; font-size: 13px!important; }
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/*-----------------------------------------------------------------------------------*/
/*	13: CSS3 ANIMATIONS
/*-----------------------------------------------------------------------------------*/
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeIn { 0% {opacity: 0;}	100% {opacity: 1;}
}

@-moz-keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }
@-o-keyframes fadeIn { 0% {opacity: 0;}	 100% {opacity: 1;} }
@keyframes fadeIn { 0% {opacity: 0;} 100% {opacity: 1;} }

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
/*KOLOM 4*/
@-webkit-keyframes fadeInUp {
	0% { opacity: 0; -webkit-transform: translateY(20px); }
	100% { opacity: 1; -webkit-transform: translateY(0); }
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/*LOGO*/
@-webkit-keyframes bounceInDown {-webkit-backface-visibility:hidden; 
	0% { opacity: 0; -webkit-transform: translateY(-2000px); }
	60% { opacity: 1; -webkit-transform: translateY(30px); }
	80% { -webkit-transform: translateY(-10px); }
	100% { -webkit-transform: translateY(0); }
}
.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

